<div class="row">
    <div class="col">

        <app-playlist-list 
            [items]="playlists | async"
            [selectedId]="(currentPlaylist | async)?.id"
            (remove)="removePlaylist($event)"
            (selectedIdChange)="selectPlaylist($event)"></app-playlist-list>

        <button class="btn btn-info mt-4 btn-block" (click)="createNewPlaylist()">
            Create new Playlist
        </button>

    </div>
    <div class="col">

        <div [ngSwitch]="mode" *ngIf="currentPlaylist | async as playlist else noPlaylist">

            <app-playlist-details *ngSwitchDefault 
                [playlist]="playlist"
                (edit)="editMode()">
            </app-playlist-details>
            
            <app-playlist-form *ngSwitchCase="'edit'" 
                [playlist]="playlist" 
                (cancel)="detailsMode()"
                (save)="save($event)"></app-playlist-form>

            </div>
            
            <app-playlist-form *ngIf=" mode === 'create'" 
                [playlist]="emptyPlaylist" 
                (cancel)="detailsMode()"
                (save)="saveNew($event)"></app-playlist-form>

        <ng-template #noPlaylist>
            <p class="alert alert-info">Please Select playlist</p>
        </ng-template>
    </div>
</div>

