<div class="dropdown" appDropdown>
    <button class="btn btn-secondary dropdown-toggle" appDropdownToggle>
        Recent Searches
    </button>

    <div class="dropdown-menu" appDropdownMenu>
        <a class="dropdown-item"
         *ngFor="let query of queries"
          (click)="search(query)">{{query}}</a>
    </div>
</div>