<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" routerLinkActive="placki active" routerLink="/"
            [routerLinkActiveOptions]="{exact:true}">MusicApp</a>

        <button class="navbar-toggler" type="button" (click)="isOpen=!isOpen" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mr-auto" id="navbarNav" [class.show]="isOpen">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="placki active" #rla="routerLinkActive"
                        routerLink="/search">Search</a>
                </li>

                <li class="nav-item" *ngIf="rla.isActive">
                    <a class="nav-link" routerLinkActive="placki active" routerLink="/search/album">Album</a>
                </li>

                <li class="nav-item" routerLinkActive="placki active">
                    <a class="nav-link" [routerLink]="['/','playlists']">Playlists</a>
                </li>

            </ul>
        </div>
        <app-recent-search></app-recent-search>
        <div class="ml-2 text-white" *ngIf="userChange | async as user">
            Welcome {{user.display_name}} | <a class="navbar-text" href="javascript:void" (click)="logout()">Logout</a>
        </div>
        <div class="ml-2 text-white" *ngIf="!(userChange | async)">
            Welcome Guest | <a class="navbar-text" href="javascript:void" (click)="login()">Login</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>

        </div>
    </div>
</div>