<form [formGroup]="searchForm" #formRef="ngForm" name="placki">
    <div class="input-group">

        <input type="text" class="form-control" placeholder="Search" aria-label="Search"
            aria-describedby="button-addon2" #queryRef formControlName="query">

        <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon2"
            (click)="submitQuery(queryRef.value)">
            Search
        </button> -->
    </div>

    <ng-container *ngIf="searchForm.get('query') as field">
        
        <p *ngIf="field.pending">Validating...</p>

        <ng-container *ngIf="field.dirty || field.touched || formRef.submitted">
            <p *ngIf="field.hasError('required')">Query is required</p>
    
            <p *ngIf="field.getError('minlength') as error">
                Minimum {{error.requiredLength}} characters
            </p>

            <p *ngIf="field.getError('censor') as error">
                Cannot contain "{{error.badword}}"
            </p>
        </ng-container>
    </ng-container>


    <p class="float-right" (click)="advancedOpen =!advancedOpen">Advanced</p>

    <div *ngIf="advancedOpen" formGroupName="options">

        <h5 class="mt-2">Type</h5>
        <select formControlName="type" class="form-control">
            <option value="album">Album</option>
            <option value="artist">Artist</option>
        </select>

        <h5 class="mt-2">Markets</h5>

        <div class="list-group list-group-flush" formArrayName="markets">
            <div class="list-group-item" *ngFor="let market of markets.controls; let i=index" [formGroupName]="i">
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="code">
                    <div class="input-group-append" (click)="removeMarket(i)">
                        <span class="close btn">&times;</span>
                    </div>
                </div>

            </div>

            <div class="list-group-item">
                <button class="btn btn-xs btn-info float-right" (click)="addMarket()">
                    Add Market
                </button>
            </div>
        </div>
    </div>

</form>